# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
/themaopdracht9.Rproj

# Java files
.gradle
/build/
/.idea
/gradle
gradlew
gradlew.bat
CLIdemo.iml

*.class
*.log
*.jar

# MacOS files
.DS_Store

# Personal files
/assignment_reproducible_research
/notes.txt
/report/report.pdf
/assignmentModelEveluation
